# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\PARA PC\ESTUDIOS\FACU 2020\AULA VIRTUAL 2021\PROGRAMACION III\IntegradorFinal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
